<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/sidebar :: common-css-admin">
</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <div th:replace="fragments/sidebar :: side-bar"></div>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Bắt đầu nội dung trang -->
        <div id="content">

            <!-- Topbar -->
            <div th:replace="fragments/topbar :: top-bar"></div>
            <!-- End of Topbar -->

            <!-- Bắt đầu bảng phân quyền -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <h1 class="h3 mb-2 text-gray-800">Danh sách hồ sơ y tế</h1>
                <div class="card shadow mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <div style="margin-bottom: 20px;">
                                    <button class="btn btn-primary newBtn"
                                            data-toggle="modal"
                                            data-target="#addPhysicalModal">
                                        <i class="fas fa-plus-circle"></i> Thêm mới
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Mã cán bộ</th>
                                    <th>Họ và tên</th>
                                    <th>Lớp</th>
                                    <th>Đợt khám</th>
                                    <th>Đơn vị khám</th>
                                    <th>Loại SK</th>
                                    <th>Tư vấn</th>
                                    <th>Hành động</th>
                                </tr>
                                </thead>
                                <tbody>
                                <th:block th:each="u,i:${allPhysical}">
                                    <tr>
                                        <td th:text="${i.count}"></td>
                                        <td th:text="${u.user.userName}"></td>
                                        <td th:text="${u.user.fullName}"></td>
                                        <td th:text="${u.user.className}"></td>
                                        <td th:text="${u.examination.name}"></td>
                                        <td th:text="${u.departmentExam.name}"></td>
                                        <td th:text="'Loại ' + ${u.healthType}"></td>
                                        <td th:text="${u.advisory}"></td>
                                        <td>
                                            <a th:href="@{/admin/general-profiles/{id}(id=${u.id})}"
                                               id="btnEditGeneralProfilesRow" name="btnEditGeneralProfilesRow"
                                               class="btn btn-warning">Sửa</a>

                                            <a th:href="@{/admin/general-profiles/delete/(id=${u.id})}"
                                               id="deleteProfileButtonRow" name="deleteProfileButtonRow"
                                               class="btn btn-danger">Xóa</a>
                                        </td>
                                    </tr>
                                </th:block>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="addPhysicalModal" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <form action="#" th:action="@{/admin/general-profiles/new}" method="post">
                        <div class="modal-dialog modal-xl" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Thêm mới hồ sơ y tế</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-group">
                                                <label for="userId"
                                                       class="col-form-label">Họ và tên:</label>
                                                <select id="userId" name="userId" class="form-control">
                                                    <option th:each="u : ${allUsers}"
                                                            th:value="${u.id.userId}"
                                                            th:text="${u.user.fullName + '  (' + u.user.className + ')'}">
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group">
                                                <label for="examinationId"
                                                       class="col-form-label">Đợt khám:</label>
                                                <select id="examinationId" name="examinationId" class="form-control">
                                                    <option th:each="e : ${allExaminations}"
                                                            th:value="${e.id}"
                                                            th:text="${e.name+ '    (' +e.createdDate+ ')'}">
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group">
                                                <label for="departmentExamId"
                                                       class="col-form-label">Đơn vị khám:</label>
                                                <select id="departmentExamId" name="departmentExamId"
                                                        class="form-control">
                                                    <option th:each="d : ${allDepartmentExams}"
                                                            th:value="${d.id}"
                                                            th:text="${d.name+ '    (' +d.address+ ')'}">
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group">
                                                <label for="createdDate"
                                                       class="col-form-label">Ngày khám:</label>
                                                <input type="text" class="form-control" id="createdDate"
                                                       required="required"
                                                       name="createdDate">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col">
                                            <div class="form-group">
                                                <label for="height"
                                                       class="col-form-label">Chiều cao:</label>
                                                <input type="text" class="form-control" id="height"
                                                       required="required" th:required="Long" name="height">
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group">
                                                <label for="weight"
                                                       class="col-form-label">Cân nặng:</label>
                                                <input type="text" class="form-control" id="weight"
                                                       required="required" th:required="Long" name="weight">
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group">
                                                <label for="bloodPressure"
                                                       class="col-form-label">Huyết áp:</label>
                                                <input type="text" class="form-control" id="bloodPressure"
                                                       required="required" th:required="String" name="bloodPressure">
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group">
                                                <label for="eyes"
                                                       class="col-form-label">Mắt:</label>
                                                <input type="text" class="form-control" id="eyes"
                                                       required="required" name="eyes">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col">
                                            <div class="form-group">
                                                <label for="bloodAnalysis"
                                                       class="col-form-label">Tổng phân tích máu:</label>
                                                <input type="text" class="form-control" id="bloodAnalysis"
                                                       required="required" name="bloodAnalysis">
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group">
                                                <label for="whiteBloodNumber"
                                                       class="col-form-label">Số lượng bạch cầu (WBC):</label>
                                                <input type="text" class="form-control" id="whiteBloodNumber"
                                                       required="required" th:required="Double" name="whiteBloodNumber">
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group">
                                                <label for="redBloodNumber"
                                                       class="col-form-label">Số lượng hồng cầu (RBC):</label>
                                                <input type="text" class="form-control" id="redBloodNumber"
                                                       required="required" th:required="Double" name="redBloodNumber">
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group">
                                                <label for="hemoglobin"
                                                       class="col-form-label">Lượng huyết sắc tố (Hb):</label>
                                                <input type="text" class="form-control" id="hemoglobin"
                                                       required="required" th:required="Double" name="hemoglobin">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col">
                                            <div class="form-group">
                                                <label for="plateletNumber"
                                                       class="col-form-label">Số lượng tiểu cầu (PLT):</label>
                                                <input type="text" class="form-control" id="plateletNumber"
                                                       required="required" th:required="Long" name="plateletNumber">
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group">
                                                <label for="bloodUrea"
                                                       class="col-form-label">Ure máu (Architect):</label>
                                                <input type="text" class="form-control" id="bloodUrea"
                                                       required="required" th:required="Long" name="bloodUrea">
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group">
                                                <label for="bloodCreatinine"
                                                       class="col-form-label">Creatinin máu (Architect):</label>
                                                <input type="text" class="form-control" id="bloodCreatinine"
                                                       required="required" th:required="Long" name="bloodCreatinine">
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group">
                                                <label for="hepatitisB"
                                                       class="col-form-label">HBsAg nhanh:</label>
                                                <input type="text" class="form-control" id="hepatitisB"
                                                       required="required" name="hepatitisB">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col">
                                            <div class="form-group">
                                                <label for="insideMedical"
                                                       class="col-form-label">Nội khoa:</label>
                                                <input type="text" class="form-control" id="insideMedical"
                                                       required="required" name="insideMedical">
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group">
                                                <label for="outsideMedical"
                                                       class="col-form-label">Ngoại khoa:</label>
                                                <input type="text" class="form-control" id="outsideMedical"
                                                       required="required" name="outsideMedical">
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group">
                                                <label for="earNoseThroat"
                                                       class="col-form-label">Tai mũi họng:</label>
                                                <input type="text" class="form-control" id="earNoseThroat"
                                                       required="required" name="earNoseThroat">
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group">
                                                <label for="dentomaxillofacial"
                                                       class="col-form-label">Răng hàm mặt:</label>
                                                <input type="text" class="form-control" id="dentomaxillofacial"
                                                       required="required" name="dentomaxillofacial">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col">
                                            <div class="form-group">
                                                <label for="dermatology"
                                                       class="col-form-label">Da liễu:</label>
                                                <input type="text" class="form-control" id="dermatology"
                                                       required="required" name="dermatology">
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group">
                                                <label for="nerve"
                                                       class="col-form-label">Tâm thần kinh:</label>
                                                <input type="text" class="form-control" id="nerve"
                                                       required="required" name="nerve">
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group">
                                                <label for="healthType"
                                                       class="col-form-label">Phân lọai sức khỏe:</label>
                                                <select th:name="healthType" id="healthType" class="form-control">
                                                    <option th:value="1" th:text="'Loại 1'"></option>
                                                    <option th:value="2" th:text="'Loại 2'"></option>
                                                    <option th:value="3" th:text="'Loại 3'"></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group">
                                                <label for="advisory"
                                                       class="col-form-label">Tư vấn:</label>
                                                <input type="text" class="form-control" id="advisory"
                                                       required="required" name="advisory">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy bỏ</button>
                                    <button type="submit" class="btn btn-primary">Thêm mới</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="modal fade" id="editPhysicalModal" tabindex="-1" role="dialog"
                     aria-labelledby="editGeneralProfileModalLabel" aria-hidden="true">
                    <form action="#" th:action="@{/admin/general-profiles/update}" method="post">
                        <div class="modal-dialog modal-xl" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="editGeneralProfileModalLabel">Chỉnh sửa hồ sơ y tế</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-group">
                                                <label for="userId"
                                                       class="col-form-label">Họ và tên:</label>
                                                <input type="text" class="form-control" id="fullNameEdit"
                                                       readonly="readonly" name="fullName">
                                                <input type="text" class="form-control" id="userIdEdit" hidden="hidden"
                                                       readonly="readonly" name="userId">
                                                <input type="text" class="form-control" id="idEdit" hidden="hidden"
                                                       readonly="readonly" name="id">
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group">
                                                <label for="examinationId"
                                                       class="col-form-label">Đợt khám:</label>
                                                <input type="text" class="form-control" id="examinationNameEdit"
                                                       readonly="readonly" name="examinationName">
                                                <input type="text" class="form-control" id="examinationIdEdit"
                                                       readonly="readonly" name="examinationId" hidden="hidden">
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group">
                                                <label for="departmentExamId"
                                                       class="col-form-label">Đơn vị khám:</label>
                                                <input type="text" class="form-control" id="departmentExamNameEdit"
                                                       readonly="readonly" name="departmentExamName">
                                                <input type="text" class="form-control" id="departmentExamIdEdit"
                                                       readonly="readonly" name="departmentExamId" hidden="hidden">
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group">
                                                <label for="createdDate"
                                                       class="col-form-label">Ngày khám:</label>
                                                <input type="text" class="form-control" id="createdDateEdit"
                                                       required="required" name="createdDate">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col">
                                            <div class="form-group">
                                                <label for="height"
                                                       class="col-form-label">Chiều cao:</label>
                                                <input type="text" class="form-control" id="heightEdit"
                                                       required="required" th:required="Long" name="height">
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group">
                                                <label for="weight"
                                                       class="col-form-label">Cân nặng:</label>
                                                <input type="text" class="form-control" id="weightEdit"
                                                       required="required" th:required="Long" name="weight">
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group">
                                                <label for="bloodPressure"
                                                       class="col-form-label">Huyết áp:</label>
                                                <input type="text" class="form-control" id="bloodPressureEdit"
                                                       required="required" th:required="String" name="bloodPressure">
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group">
                                                <label for="eyes"
                                                       class="col-form-label">Mắt:</label>
                                                <input type="text" class="form-control" id="eyesEdit"
                                                       required="required" name="eyes">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col">
                                            <div class="form-group">
                                                <label for="bloodAnalysis"
                                                       class="col-form-label">Tổng phân tích máu:</label>
                                                <input type="text" class="form-control" id="bloodAnalysisEdit"
                                                       required="required" name="bloodAnalysis">
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group">
                                                <label for="whiteBloodNumber"
                                                       class="col-form-label">Số lượng bạch cầu (WBC):</label>
                                                <input type="text" class="form-control" id="whiteBloodNumberEdit"
                                                       required="required" th:required="Double" name="whiteBloodNumber">
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group">
                                                <label for="redBloodNumber"
                                                       class="col-form-label">Số lượng hồng cầu (RBC):</label>
                                                <input type="text" class="form-control" id="redBloodNumberEdit"
                                                       required="required" th:required="Double" name="redBloodNumber">
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group">
                                                <label for="hemoglobin"
                                                       class="col-form-label">Lượng huyết sắc tố (Hb):</label>
                                                <input type="text" class="form-control" id="hemoglobinEdit"
                                                       required="required" th:required="Double" name="hemoglobin">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col">
                                            <div class="form-group">
                                                <label for="plateletNumber"
                                                       class="col-form-label">Số lượng tiểu cầu (PLT):</label>
                                                <input type="text" class="form-control" id="plateletNumberEdit"
                                                       required="required" th:required="Long" name="plateletNumber">
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group">
                                                <label for="bloodUrea"
                                                       class="col-form-label">Ure máu (Architect):</label>
                                                <input type="text" class="form-control" id="bloodUreaEdit"
                                                       required="required" th:required="Long" name="bloodUrea">
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group">
                                                <label for="bloodCreatinine"
                                                       class="col-form-label">Creatinin máu (Architect):</label>
                                                <input type="text" class="form-control" id="bloodCreatinineEdit"
                                                       required="required" th:required="Long" name="bloodCreatinine">
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group">
                                                <label for="hepatitisB"
                                                       class="col-form-label">HBsAg nhanh:</label>
                                                <input type="text" class="form-control" id="hepatitisBEdit"
                                                       required="required" name="hepatitisB">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col">
                                            <div class="form-group">
                                                <label for="insideMedical"
                                                       class="col-form-label">Nội khoa:</label>
                                                <input type="text" class="form-control" id="insideMedicalEdit"
                                                       required="required" name="insideMedical">
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group">
                                                <label for="outsideMedical"
                                                       class="col-form-label">Ngoại khoa:</label>
                                                <input type="text" class="form-control" id="outsideMedicalEdit"
                                                       required="required" name="outsideMedical">
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group">
                                                <label for="earNoseThroat"
                                                       class="col-form-label">Tai mũi họng:</label>
                                                <input type="text" class="form-control" id="earNoseThroatEdit"
                                                       required="required" name="earNoseThroat">
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group">
                                                <label for="dentomaxillofacial"
                                                       class="col-form-label">Răng hàm mặt:</label>
                                                <input type="text" class="form-control" id="dentomaxillofacialEdit"
                                                       required="required" name="dentomaxillofacial">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col">
                                            <div class="form-group">
                                                <label for="dermatology"
                                                       class="col-form-label">Da liễu:</label>
                                                <input type="text" class="form-control" id="dermatologyEdit"
                                                       required="required" name="dermatology">
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group">
                                                <label for="nerve"
                                                       class="col-form-label">Tâm thần kinh:</label>
                                                <input type="text" class="form-control" id="nerveEdit"
                                                       required="required" name="nerve">
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group">
                                                <label for="healthType"
                                                       class="col-form-label">Phân lọai sức khỏe:</label>
                                                <select th:name="healthType" name="healthType" id="healthTypeEdit"
                                                        class="form-control">
                                                    <option th:value="1" th:text="'Loại 1'"></option>
                                                    <option th:value="2" th:text="'Loại 2'"></option>
                                                    <option th:value="3" th:text="'Loại 3'"></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group">
                                                <label for="advisory"
                                                       class="col-form-label">Tư vấn:</label>
                                                <input type="text" class="form-control" id="advisoryEdit"
                                                       required="required" name="advisory">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy bỏ</button>
                                    <button type="submit" class="btn btn-primary">Cập nhật</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="modal" tabindex="-1" role="dialog" id="deleteConfirmGeneralProfileModal">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Modal title</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Bạn chắc chắn xóa hồ sơ y tế này?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy bỏ</button>
                                <a href="" class="btn btn-primary" id="deleteGeneralProfileRef">Đồng ý</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- Kết thúc bảng phân quyền -->

        </div>
        <!-- Kết thúc trang -->

        <!-- Footer -->
        <div th:replace="fragments/footer :: footer"></div>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->


<div th:replace="fragments/sidebar :: sidebar-js"></div>
<script th:src="@{~/js/common.js}"></script>

<!-- Bootstrap core JavaScript-->
<!--<script th:src="@{~/js/jquery/jquery.min.js}"></script>-->
<!--<script th:src="@{~/js/bootstrap/js/bootstrap.bundle.min.js}"></script>-->

<!-- Core plugin JavaScript-->
<!--<script th:src="@{~/js/jquery-easing/jquery.easing.min.js}"></script>-->

<!-- Custom scripts for all pages-->
<!--<script th:src="@{~/js/sb-admin-2.min.js}"></script>-->
<!-- Page level plugins -->
<script th:src="@{~/js/datatables/jquery.dataTables.min.js}"></script>
<script th:src="@{~/js/datatables/dataTables.bootstrap4.min.js}"></script>

<!-- Page level custom scripts -->
<script th:src="@{~/js/demo/datatables-demo.js}"></script>
</body>

</html>
