<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:fragment="common-css-admin">
    <meta charset="UTF-8">
    <meta name="description" content="Yoga Studio Template">
    <meta name="keywords" content="Yoga, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin</title>

    <!-- Custom fonts for this template-->
    <link rel="stylesheet" th:href="@{~/css/admin/all.min.css}">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet" type="text/css">

    <!-- Custom styles for this template-->
    <link th:href="@{~/css/sb-admin-2.min.css}" rel="stylesheet" type="text/css">

    <!-- Custom styles for this page -->
    <link th:href="@{~/css/dataTables.bootstrap4.min.css}" rel="stylesheet" type="text/css">


</head>

<body id="page-top">

<!-- Page Wrapper -->
<!--<div id="wrapper">-->
<div th:fragment="side-bar">


    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" th:href="@{/home}">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3">CareHust <sup></sup></div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a class="nav-link" th:href="@{~/home}">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Trang chủ</span></a>
        </li>

        <!-- Quyền administrator  -->
        <div sec:authorize="hasRole('ROLE_ADMIN')">

            <!-- Divider -->
            <hr class="sidebar-divider">

            <div class="sidebar-heading">
                Nhân viên y tế
            </div>

            <!-- Menu Ho so chung -->
            <li class="nav-item">
                <a class="nav-link" th:href="@{~/admin/general-profiles}">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Hồ sơ chung</span></a>
            </li>

            <!-- Menu biểu đồ -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilitiesAdmin"
                   aria-expanded="true" aria-controls="collapseUtilities">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Thống kê chung</span>
                </a>
                <div id="collapseUtilitiesAdmin" class="collapse" aria-labelledby="headingUtilities"
                     data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" th:href="@{~/admin/statistic-height-page}">Chiều cao</a>
                        <a class="collapse-item" th:href="@{~/admin/statistic-weight-page}">Cân nặng</a>
                        <a class="collapse-item" th:href="@{~/admin/statistic-nerve-page}">Tâm thần kinh</a>
                        <a class="collapse-item" th:href="@{~/admin/statistic-dermatology-page}">Da liễu</a>
                        <a class="collapse-item" th:href="@{~/admin/statistic-inside-medical-page}">Nội khoa</a>
                        <a class="collapse-item" th:href="@{~/admin/statistic-outside-medical-page}">Ngoại khoa</a>
                        <a class="collapse-item" th:href="@{~/admin/statistic-ear-nose-throat-page}">Tai, mũi, họng</a>
                        <a class="collapse-item" th:href="@{~/admin/statistic-dentomaxillofacial-page}">Răng, hàm, mặt</a>
                        <a class="collapse-item" th:href="@{~/admin/statistic-healthy-type-page}">Loại sức khỏe</a>
                    </div>
                </div>
            </li>

            <!-- Menu Đợt khám -->
            <li class="nav-item">
                <a class="nav-link" th:href="@{~/admin/manage-examination}">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Quản lý đợt khám</span></a>
            </li>

            <!-- Menu Đơn vị khám -->
            <li class="nav-item">
                <a class="nav-link" th:href="@{~/admin/manage-department-exam}">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Quản lý đơn vị khám</span></a>
            </li>


            <!-- Menu phân quyền -->
            <li class="nav-item">
                <a class="nav-link" th:href="@{~/admin/users-permissions}">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Phân quyền</span></a>
            </li>
        </div>
        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Quyền User -->
        <div class="sidebar-heading">
            Cá nhân
        </div>

        <!-- Nav Item - Charts -->
        <li class="nav-item">
            <a class="nav-link" th:href="@{~/user/general-profile}">
                <i class="fas fa-fw fa-folder"></i>
                <span>Hồ sơ cá nhân</span></a>
        </li>

        <!-- Menu biểu đồ -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilitiesUser"
               aria-expanded="true" aria-controls="collapseUtilities">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>Thống kê chung</span>
            </a>
            <div id="collapseUtilitiesUser" class="collapse" aria-labelledby="headingUtilities"
                 data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" th:href="@{~/user/statistic-height-page}">Chiều cao</a>
                    <a class="collapse-item" th:href="@{~/user/statistic-weight-page}">Cân nặng</a>
                    <a class="collapse-item" th:href="@{~/user/statistic-weight-page/2020}">Loại sức khỏe</a>
                </div>
            </div>
        </li>

        <!-- Chức năng khác -->
        <div class="sidebar-heading">
            Khác
        </div>

        <li class="nav-item">
            <a class="nav-link" th:href="@{~/user/detail}">
                <i class="fas fa-fw fa-folder"></i>
                <span>Thông tin cá nhân</span></a>
        </li>

        <!-- Nav Item - Charts -->
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="fas fa-fw fa-tools"></i>
                <span>Trợ giúp 24/7</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

    </ul>
    <!-- End of Sidebar -->
</div>
<!-- End of Page Wrapper -->

<div th:fragment="sidebar-js">
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script th:src="@{~/js/jquery/jquery.min.js}"></script>
    <script th:src="@{~/js/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{~/js/jquery-easing/jquery.easing.min.js}"></script>
    <script th:src="@{~/js/sb-admin-2.min.js}"></script>
    <script th:src="@{~/js/Chart.min.js}"></script>
</div>


</body>

</html>
