<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="refresh" th:href="@{~/login}">
    <title>Home page</title>
</head>

<body>


<!--<div class="form-group">-->
<!--    <label class="control-label col-sm-2" for="file">File Ảnh Chính :</label>-->
<!--    <div class="col-sm-10">-->
<!--        <input onchange="uploadFile(this, 'mainImage')" type="file" class="form-control" id="file">-->
<!--    </div>-->
<!--</div>-->
<!--<input type="hidden"  id="mainImage">-->

<!--<div class="form-group">-->
<!--    <label class="control-label col-sm-2" for="file">File Ảnh Phụ (có thể nhiều ảnh):</label>-->
<!--    <div class="col-sm-10">-->
<!--        <input onchange="uploadFile(this, 'images')" type="file" class="form-control" id="file" multiple>-->
<!--    </div>-->
<!--</div>-->
<!--<input type="hidden"  id="images">-->

<!--<div class="form-group">-->
<!--    <div class="col-sm-offset-2 col-sm-10">-->
<!--        <button onclick="if(!validate('formProduct')) return false;" type="submit" class="btn btn-primary">-->
<!--            Submit-->
<!--        </button>-->
<!--    </div>-->
<!--</div>-->


<div th:replace="fragments/common :: common-js"></div>
</body>
</html>