<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/sidebar :: common-css-admin">
</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <div th:replace="fragments/sidebar :: side-bar"></div>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Bắt đầu nội dung trang -->
        <div id="content">

            <!-- Topbar -->
            <div th:replace="fragments/topbar :: top-bar"></div>
            <!-- End of Topbar -->

            <!-- Bắt đầu bảng phân quyền -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <h1 class="h3 mb-2 text-gray-800">Thông tin cá nhân</h1>
                <div class="card shadow mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <div style="margin-bottom: 20px">
                                    <button class="btn btn-primary btnChangePassClass"
                                            data-toggle="modal"
                                            data-target="#changePasswordModal">
                                        <i class="fas fa-plus-circle"></i> Đổi mật khẩu
                                    </button>
                                </div>
                            </div>
                        </div>
                        <form action="" th:action="@{/user/detail/update}" method="post">
                            <div class="row" style="width: 500px!important;" hidden="hidden">
                                <div class="col">
                                    <div class="form-group">
                                        <label class="col-form-label">Mã:</label>
                                        <input type="text" th:value="${userDetail.id}" class="form-control"
                                               name="id">
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="width: 500px!important;">
                                <div class="col">
                                    <div class="form-group">
                                        <label class="col-form-label">Tên tài khoản:</label>
                                        <input type="text" th:value="${userDetail.userName}" class="form-control"
                                               readonly="readonly"
                                               name="userName">
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="width: 500px!important;">
                                <div class="col">
                                    <div class="form-group">
                                        <label class="col-form-label">Họ và tên:</label>
                                        <input type="text" th:value="${userDetail.fullName}" class="form-control"
                                               name="fullName" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="width: 500px!important;">
                                <div class="col">
                                    <div class="form-group">
                                        <label class="col-form-label">Phòng ban:</label>
                                        <input type="text" th:value="${userDetail.className}" class="form-control"
                                               id="className" name="className" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <button type="submit" class="btn btn-danger"
                                        style=" margin-left: 12px!important;">Cập nhật
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>


            <div class="modal fade" id="changePasswordModal" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                <form action="#" th:action="@{/user/detail/change-pass}" method="post">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Đổi mật khẩu tài khoản</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="newPassword" class="col-form-label">Mật khẩu mới:</label>
                                    <input type="password" class="form-control" required id="newPassword"
                                           name="newPassword">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy bỏ</button>
                                <button type="submit" class="btn btn-primary">Cập nhật</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!-- Kết thúc bảng phân quyền -->

        </div>
        <!-- Kết thúc trang -->

        <!-- Footer -->
        <div th:replace="fragments/footer :: footer"></div>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->


<div th:replace="fragments/sidebar :: sidebar-js"></div>
<script th:src="@{~/js/common.js}"></script>

<!-- Bootstrap core JavaScript-->
<!--<script th:src="@{~/js/jquery/jquery.min.js}"></script>-->
<!--<script th:src="@{~/js/bootstrap/js/bootstrap.bundle.min.js}"></script>-->

<!-- Core plugin JavaScript-->
<!--<script th:src="@{~/js/jquery-easing/jquery.easing.min.js}"></script>-->

<!-- Custom scripts for all pages-->
<!--<script th:src="@{~/js/sb-admin-2.min.js}"></script>-->
<!-- Page level plugins -->
<script th:src="@{~/js/datatables/jquery.dataTables.min.js}"></script>
<script th:src="@{~/js/datatables/dataTables.bootstrap4.min.js}"></script>

<!-- Page level custom scripts -->
<script th:src="@{~/js/demo/datatables-demo.js}"></script>
</body>

</html>
